# main port. everything ends up here and this is what you connect to
:80, :8888 {
	# bind to all addresses
	bind 0.0.0.0

	# backend
	reverse_proxy /api/* :5000

	# frontend
	reverse_proxy /* :8090
}
